@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 20% 5%;
    --foreground: 20 10% 98%;
    
    --card: 20 20% 7%;
    --card-foreground: 20 10% 98%;
    
    --popover: 20 20% 7%;
    --popover-foreground: 20 10% 98%;
    
    --primary: 24 95% 53%;
    --primary-foreground: 20 10% 98%;
    
    --secondary: 154 50% 50%;
    --secondary-foreground: 20 10% 98%;
    
    --accent: 326 100% 74%;
    --accent-foreground: 20 10% 98%;
    
    --muted: 20 20% 20%;
    --muted-foreground: 20 10% 75%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 20 10% 98%;
    
    --border: 20 20% 18%;
    --input: 20 20% 18%;
    --ring: 24 95% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}